{% extends 'base.html'%}
{% block content%}

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">ABout us...</h1>
            <p class="lead fw-normal text-white-50 mb-0">Wlcome to  codemy django</p>
        </div>
    </div>
</header>">

<div class conatiner>
    <div class="row">
        <center>
            <div class="col-8">ലക്ഷകണക്കിനു മലയാളികള്‍ ഗള്‍ഫില്‍ ജീവിക്കുന്നു, ലക്ഷങ്ങള്‍ ജീവിച്ചു തിരിച്ചു പോയിരിക്കുന്നു. ഇതില്‍ എത്ര പേര്‍
            മരുഭൂമിയുടെ തീക്ഷ്‌ണത സത്യമായും അനുഭവിച്ചിട്ടുണ്ട്. ആ തീക്ഷ്ണത തൊട്ടറിഞ്ഞ, അഥവാ മണല്‍‌പരപ്പിലെ ജീവിതം ചുട്ടുപൊള്ളിച്ച
            നജീബ് എന്നയാളുടെ അനുഭവമാണ് ആടുജീവിതത്തിനു പ്രേരണയായതെന്ന് നോവലിസ്‌റ്റ് ബെന്യാമിന്‍ പറയുന്നു. പ്രവാസജീവിതത്തിലെ തികച്ചും
            വ്യത്യസ്‌തമായ ഒരേട്.</div>
        </center>
    </div>
</div>

{%endblock%}